<div class="title-edit">
  <p>Edit Profil</p>
</div>
<div class="container">
  <div class="detail-profil">
    <div class="photo">
      <div class="container-profil">
        <img
          [src]="imageDisplay ? imageDisplay : imageParent"
          alt=""
          style="width: 200px"
          class="photo-profil"
        />
      </div>
      <form [formGroup]="formImage">
        <input
          accept="image/*"
          (change)="editImage($event)"
          class="form-control"
          type="file"
          id="formFile"
        />
      </form>
      <div class="save-image">
        <input type="submit" (click)="submitImage()" value="Save Image" />
      </div>
      
    </div>
    <div class="bio">
      <form [formGroup]="form">
        <label for="validationCustom01" class="form-label">First name</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          value="Mark"
          required
          formControlName="first_name"
          name="firs_tname"
        />

        <label for="validationCustom01" class="form-label">Last name</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          value="Mark"
          required
          formControlName="last_name"
          name="last_name"
        />
        <label for="validationCustom01" class="form-label">Gender</label>
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          value="Mark"
          required
          formControlName="gender"
          name="gender"
        />
       

        <label for="date_of_birth">Date of Birth</label>
        <input
          formControlName="date_of_birth"
          type="text"
          id="date_of_birth"
          name="date_of_birth"
        />
        <label for="father_occupation">Occupation</label>
        <input
          formControlName="occupation"
          type="text"
          id="father_occupation"
          name="father_occupation"
        />

        <label for="blood_group">Blood Group</label>
        <input
          formControlName="blood_group"
          type="text"
          id="blood_group"
          name="blood_group"
        />

        
        <select formControlName="religion" [(ngModel)]="selectedReligion">
          <option value="Islam" >Islam</option>
          <option value="Hindu">Hindu</option>
          <option value="Buddhist">Buddhist</option>
          <option value="Christian">Christian</option>
          <option value="Others">Others</option>
        </select>
        

        

        <label for="email">Email</label>
        <input formControlName="email" type="text" id="email" name="email" />

        <label for="address">Address</label>
        <input
          formControlName="address"
          type="text"
          id="address"
          name="address"
        />

        <label for="phone">Phone</label>
        <input formControlName="phone" type="text" id="phone" name="phone" />

        <label for="short_bio">Short Bio</label>
        <input
          formControlName="short_bio"
          type="text"
          id="short_bio"
          name="short_bio"
        />

        <label for="password">Password</label>
        <input
          formControlName="password"
          type="text"
          id="password"
          name="password"
        />
      </form>
      <br />
      <input type="submit" (click)="editParent()" value="Edit Student Data" />
    </div>
  </div>
</div>



