<div class="title-mykid">
  <p>My Kids</p>
</div>
<div class="container">
  <div class="box-mykid" *ngFor="let data of childData; let i = index">
    <div class="box-bio">
      <div class="profil">
        <div class="photo"><img class="photo-profil" [src]="data.image" alt="" /></div>
      </div>
      <div class="bio">
        <div class="name1">Name :</div>
        <div class="name2">{{ data.first_name }} {{ data.last_name }}</div>
      </div>
      <div class="bio">
        <div class="name1">Gender :</div>
        <div class="name2">{{ data.gender }}</div>
      </div>
      <div class="bio">
        <div class="name1">Class :</div>
        <div class="name2">{{ data.kelas.class_name }}</div>
      </div>
      <div class="btn-profil">
        <a href="/detail-student/{{data._id}}"><button>Detail Profil</button></a>
      </div>
      
    </div>
    <div class="calendar">
      <parent-calendar [parentData]="data._id"></parent-calendar>
    </div>
  </div>
</div>
